In [15]:
import pandas as pd
import sqlalchemy

In [16]:
# Import Spotify Data
spotify_data = "spotifyWeeklyTop200Streams.csv"

spotify_df = pd.read_csv(spotify_data)
spotify_df.head(50)

,Name,Artist,Features,Streams,Week
0,In My Feelings,Drake,NaN,30747676,7/20/2018
1,Lucid Dreams,Juice WRLD,NaN,12930705,7/20/2018
2,Nonstop,Drake,NaN,12312859,7/20/2018
3,God is a woman,Ariana Grande,NaN,10771324,7/20/2018
4,SAD!,XXXTENTACION,NaN,10503061,7/20/2018
5,Taste,Tyga,Offset,9777479,7/20/2018
6,Don’t Matter To Me,Drake,NaN,9769263,7/20/2018
7,I Like It,Cardi B,NaN,9278476,7/20/2018
8,Moonlight,XXXTENTACION,NaN,8544143,7/20/2018
9,Girls Like You,Maroon 5,Cardi B,8257586,7/20/2018
10,Nice For What,Drake,NaN,8193242,7/20/2018
11,Better Now,Post Malone,NaN,7877292,7/20/2018
12,Summertime Magic,Childish Gambino,NaN,7519515,7/20/2018
13,Yes Indeed,Lil Baby,NaN,7436762,7/20/2018
14,I'm Upset,Drake,NaN,7313974,7/20/2018
15,God's Plan,Drake,NaN,6886838,7/20/2018
16,Mob Ties,Drake,NaN,6010125,7/20/2018
17,Jackie Chan,Tiësto,NaN,5589022,7/20/2018
18,Youngblood,5 Seconds of Summer,NaN,5476526,7/20/2018
19,Psycho,Post Malone,Ty Dolla $ign,5461822,7/20/2018
20,Eastside,"benny blanco, Halsey, Khalid, Halsey, Khalid",NaN,5325080,7/20/2018
21,Ocean,Martin Garrix,Khalid,5277329,7/20/2018
22,Jocelyn Flores,XXXTENTACION,NaN,5145261,7/20/2018
23,All Girls Are The Same,Juice WRLD,NaN,5073925,7/20/2018
24,changes,XXXTENTACION,NaN,5023686,7/20/2018
25,APESHIT,The Carters,NaN,4830730,7/20/2018
26,Look Alive,BlocBoy JB,Drake,4826668,7/20/2018
27,Boo'd Up,Ella Mai,NaN,4748460,7/20/2018
28,no tears left to cry,Ariana Grande,NaN,4509464,7/20/2018
29,Bed,Nicki Minaj,Ariana Grande,4444780,7/20/2018
30,Fuck Love,XXXTENTACION,Trippie Redd,4353823,7/20/2018
31,All Mine,Kanye West,NaN,4347034,7/20/2018
32,Wasted,Juice WRLD,Lil Uzi Vert,4274567,7/20/2018
33,rockstar,Post Malone,21 Savage,4206779,7/20/2018
34,Back To You - From 13 Reasons Why – Season 2 S...,Selena Gomez,NaN,4172502,7/20/2018
35,Emotionless,Drake,NaN,4156072,7/20/2018
36,Hopeless Romantic,Wiz Khalifa,Swae Lee,4128303,7/20/2018
37,Praise The Lord (Da Shine),A$AP Rocky,Skepta,4095518,7/20/2018
38,One Kiss,"Calvin Harris, Dua Lipa, Dua Lipa",NaN,3965186,7/20/2018
39,Can’t Take A Joke,Drake,NaN,3811354,7/20/2018
40,Elevate,Drake,NaN,3793839,7/20/2018
41,Solo,Clean Bandit,Demi Lovato,3679662,7/20/2018
42,"Big Bank feat. 2 Chainz, Big Sean, Nicki Minaj",YG,NaN,3663897,7/20/2018
43,Ball For Me,Post Malone,Nicki Minaj,3631354,7/20/2018
44,lovely,"Billie Eilish, Khalid, Khalid",NaN,3597219,7/20/2018
45,Body,Loud Luxury,NaN,3551924,7/20/2018
46,Plug Walk,Rich The Kid,NaN,3444255,7/20/2018
47,Fr Fr,Wiz Khalifa,Lil Skies,3377195,7/20/2018
48,Te Boté - Remix,Nio Garcia,NaN,3376696,7/20/2018
49,Everybody Dies In Their Nightmares,XXXTENTACION,NaN,3345149,7/20/2018

In [17]:
# Drop Features Column in Spotify DataFrame
spotify_df = spotify_df.drop(columns = ['Features'])
spotify_df.head()

             Name         Artist   Streams       Week
0  In My Feelings          Drake  30747676  7/20/2018
1    Lucid Dreams     Juice WRLD  12930705  7/20/2018
2         Nonstop          Drake  12312859  7/20/2018
3  God is a woman  Ariana Grande  10771324  7/20/2018
4            SAD!   XXXTENTACION  10503061  7/20/2018

In [10]:
from datetime import timedelta
spotify_df["Week"] = pd.to_datetime(spotify_df["Week"])
spotify_df["onde_day_behind"] = spotify_df["Week"].apply(lambda x: x - timedelta(days=1))
spotify_df.head()

             Name         Artist   Streams       Week onde_day_behind
0  In My Feelings          Drake  30747676 2018-07-20      2018-07-19
1    Lucid Dreams     Juice WRLD  12930705 2018-07-20      2018-07-19
2         Nonstop          Drake  12312859 2018-07-20      2018-07-19
3  God is a woman  Ariana Grande  10771324 2018-07-20      2018-07-19
4            SAD!   XXXTENTACION  10503061 2018-07-20      2018-07-19

In [8]:
# Import the data from Billboard
billboard_data = "billboardHot100_1999-2019.csv"

billboard_df = pd.read_csv(billboard_data)
billboard_df.head()

,Artists,Name,Weekly.rank,Peak.position,Weeks.on.chart,Week,Date,Genre,Writing.Credits,Lyrics,Features
0,"Lil Nas,",Old Town Road,1,1.0,7.0,7/6/2019,5-Apr-19,"Country,Atlanta,Alternative Country,Hip-Hop,Tr...","Jozzy, Atticus ross, Trent reznor, Billy ray c...","Old Town Road Remix \nOh, oh-oh\nOh\nYeah, I'm...",Billy Ray Cyrus
1,"Shawn Mendes, Camila Cabello",Senorita,2,NaN,NaN,7/6/2019,21-Jun-19,Pop,"Cashmere cat, Jack patterson, Charli xcx, Benn...",Senorita \nI love it when you call me senorita...,NaN
2,Billie Eilish,Bad Guy,3,2.0,13.0,7/6/2019,29-Mar-19,"Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ...","Billie eilish, Finneas","bad guy \nWhite shirt now red, my bloody nose\...",NaN
3,Khalid,Talk,4,3.0,20.0,7/6/2019,7-Feb-19,"Synth-Pop,Pop","Howard lawrence, Guy lawrence, Khalid",Talk \nCan we just talk? Can we just talk?\nTa...,NaN
4,"Ed Sheeran, Justin Bieber",I Don't Care,5,2.0,7.0,7/6/2019,10-May-19,"Canada,UK,Dance,Dance-Pop,Pop","Ed sheeran, Justin bieber, Shellback, Max mart...",I Don't Care \nI'm at a party I don't wanna be...,NaN

In [5]:
# Clean the Billboard DataFrame
billboard_df = billboard_df.drop(columns = ['Peak.position', 'Weeks.on.chart', 'Date', 'Writing.Credits', 'Lyrics', 'Features'])
billboard_df.head()

,Artists,Name,Weekly.rank,Week,Genre
0,"Lil Nas,",Old Town Road,1,7/6/2019,"Country,Atlanta,Alternative Country,Hip-Hop,Tr..."
1,"Shawn Mendes, Camila Cabello",Senorita,2,7/6/2019,Pop
2,Billie Eilish,Bad Guy,3,7/6/2019,"Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ..."
3,Khalid,Talk,4,7/6/2019,"Synth-Pop,Pop"
4,"Ed Sheeran, Justin Bieber",I Don't Care,5,7/6/2019,"Canada,UK,Dance,Dance-Pop,Pop"

In [7]:
# Send Spotify DataFrame to a CSV
spotify_df.to_csv('clean_spotify_df.csv')